body {
  background-color: #eee;
}
.square {
  display: "block";
  width: 100px;
  height: 100px;
  border: 1px solid #222;
}

.white {
  background-color: #eee;
}

.black {
  background-color: #444;
}
